$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey-200: hsl(0, 0%, 85%);

*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "Alata", sans-serif; // Josefin Sans for cards???
}
:root{
  font-size: 15px;
}
body{
  min-height: 100svh;
  min-height: 100vh;
}
header{
  width: 100%;
}
main{
  width: 100%;
}