* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  font-size: 15px;
}

body {
  position: relative;
  min-height: 100svh;
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  width: 100%;
}

.flow > * + * {
  margin-top: 1.5em;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.Josefin-Sans {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.Alata {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.white-text {
  color: hsl(0, 0%, 100%);
}

.padding-3 {
  padding: 6vw;
}

.c-pointer {
  cursor: pointer;
}

@media (max-width: 1439px) {
  .main__introSection {
    width: 100%;
  }
  .introSection__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    padding: 15vw 5vw;
  }
  .introSection__imgContainer {
    width: 100%;
    height: auto;
  }
  .introSection__textContainer {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h2 {
    font-size: min(8vw, 4.8rem);
  }
  .textContainer__description {
    font-size: min(4.25vw, 2.18rem);
    line-height: min(7vw, 3.6rem);
    filter: opacity(40%);
  }
  .main__cardsSection {
    grid-template-rows: fit-content 1fr fit-content;
    grid-template-areas: "top" "middle" "bottom";
  }
  .cardsSection__heading, .cardsSection__btnContainer {
    align-items: center;
    justify-content: center;
  }
  .cardsSection__heading {
    grid-area: top;
  }
  .cardsSection__btnContainer {
    grid-area: bottom;
  }
  .cardsSection__seeAllBtn {
    padding: 2vw 8vw;
    letter-spacing: 1vw;
    font-size: min(2vw, 1.25rem);
  }
  .cardsSection__cardGridContainer {
    grid-area: middle;
    gap: 2vw;
    align-items: center;
    justify-content: center;
  }
  .cardContainer__text {
    bottom: min(20%, 4rem);
    left: 10%;
    right: 40%;
  }
  .theGridContainer {
    right: 80%;
  }
}
@media (max-width: 1024px) {
  .cardsSection__cardGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(275px, 400px));
    padding: 3vw 5vw;
  }
}
@media (min-width: 1025px) and (max-width: 1439px) {
  .cardsSection__cardGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
    padding: 3vw 3vw;
  }
}
@media (min-width: 1440px) and (max-width: 1825px) {
  main {
    padding: 10vw;
  }
  .main__introSection {
    width: 100%;
    margin-bottom: 10vw;
  }
  .introSection__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: last baseline;
  }
  .introSection__imgContainer {
    justify-self: flex-start;
    z-index: 1;
  }
  .introSection__textContainer {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: hsl(0, 0%, 100%);
    padding: 6vw 0 0 6vw;
    width: 50%;
  }
  h2 {
    font-size: 3vw;
  }
  .textContainer__description {
    font-size: 1.2vw;
    line-height: 2vw;
    filter: opacity(40%);
  }
  .main__cardsSection {
    grid-template-rows: fit-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right" "bottom bottom";
  }
  .cardsSection__heading, .cardsSection__btnContainer {
    justify-content: flex-end;
  }
  .cardsSection__heading {
    grid-area: left;
  }
  .cardsSection__btnContainer {
    grid-area: right;
    align-items: flex-end;
  }
  .cardsSection__seeAllBtn {
    padding: 0.75vw 2vw;
    letter-spacing: 0.5vw;
  }
  .cardsSection__cardGridContainer {
    grid-area: bottom;
    grid-template-columns: repeat(auto-fill, minmax(100px, 265px));
    align-items: center;
    justify-content: center;
    padding: 3vw 0;
  }
  .cardContainer__text {
    bottom: 8%;
    left: 10%;
    right: 20%;
  }
  .theGridContainer {
    right: 80%;
  }
}
@media (min-width: 1826px) {
  .main__introSection {
    width: 100%;
    padding: 10vw;
  }
  .introSection__wrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  .textContainer__description {
    font-size: 1.2vw;
    line-height: 2vw;
    filter: opacity(40%);
  }
  .main__cardsSection {
    grid-template-rows: fit-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right" "bottom bottom";
    padding: 0 10vw;
  }
  .cardsSection__heading, .cardsSection__btnContainer {
    justify-content: flex-end;
  }
  .cardsSection__heading {
    grid-area: left;
  }
  .cardsSection__btnContainer {
    grid-area: right;
    align-items: flex-end;
  }
  .cardsSection__seeAllBtn {
    padding: 0.75vw 2vw;
    font-size: 1vw;
    letter-spacing: 0.5vw;
  }
  .cardsSection__cardGridContainer {
    grid-area: bottom;
    grid-template-columns: repeat(auto-fill, minmax(300px, 465px));
    align-items: center;
    justify-content: center;
    padding: 3vw 0;
  }
  .cardContainer__text {
    bottom: 8%;
    left: 10%;
    right: 20%;
  }
  .theGridContainer {
    right: 80%;
  }
}
.main__cardsSection, .cardsSection__cardGridContainer {
  display: grid;
}

.cardsSection__seeAllBtn {
  border: 1px solid hsl(0, 0%, 0%);
  background-color: transparent;
  color: hsl(0, 0%, 0%);
  transition: all 0.15s ease;
  width: fit-content;
}

.cardImg {
  width: 100%;
  height: auto;
  filter: brightness(75%);
}

.cardsSection__cardGridContainer {
  width: 100%;
  gap: 2vw;
}

.cardsSection__cardContainer {
  position: relative;
  transition: filter 0.15s ease;
}

.cardContainer__text {
  color: hsl(0, 0%, 100%);
  position: absolute;
  z-index: 2;
  font-size: max(1.5rem, 2.25vw);
  transition: color 0.15s ease;
}

@media (max-width: 768px) {
  .navbar__anchor:hover {
    filter: opacity(40%);
  }
}
@media (min-width: 769px) {
  .navbar__anchor {
    position: relative;
    padding: 0.85vw 0;
  }
  .navbar__anchor:hover:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 1px;
    width: 40%;
    border-bottom: 1px solid hsl(0, 0%, 100%);
  }
}
.cardsSection__seeAllBtn:hover, .cardsSection__seeAllBtn:focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}

.cardsSection__cardContainer:hover .cardImg,
.cardsSection__cardContainer:focus .cardImg {
  filter: opacity(60%);
}

.cardsSection__cardContainer:hover .cardContainer__text,
.cardsSection__cardContainer:focus .cardContainer__text {
  color: hsl(0, 0%, 0%);
}

/*# sourceMappingURL=active-states.css.map */
