* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  font-size: 15px;
}

body {
  position: relative;
  min-height: 100svh;
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  width: 100%;
}

.flow > * + * {
  margin-top: 1.5em;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.Josefin-Sans {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.Alata {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.white-text {
  color: hsl(0, 0%, 100%);
}

.padding-1 {
  padding: max(3rem, 2vw) 10vw;
}

.padding-3 {
  padding: 6vw;
}

.c-pointer {
  cursor: pointer;
}

@media (max-width: 1439px) {
  .main__introSection {
    width: 100%;
  }
  .introSection__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    padding: 15vw 5vw;
  }
  .introSection__imgContainer {
    width: 100%;
    height: auto;
  }
  .introSection__textContainer {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h2 {
    font-size: min(8vw, 4.8rem);
  }
  .textContainer__description {
    font-size: min(4.25vw, 2.18rem);
    line-height: min(7vw, 3.6rem);
    filter: opacity(40%);
  }
  .main__cardsSection {
    grid-template-rows: fit-content 1fr fit-content;
    grid-template-areas: "top" "middle" "bottom";
  }
  .cardsSection__heading, .cardsSection__btnContainer {
    align-items: center;
    justify-content: center;
  }
  .cardsSection__heading {
    grid-area: top;
  }
  .cardsSection__btnContainer {
    grid-area: bottom;
  }
  .cardsSection__seeAllBtn {
    padding: 2vw 8vw;
    letter-spacing: 1vw;
    font-size: min(2vw, 1.25rem);
  }
  .cardsSection__cardGridContainer {
    grid-area: middle;
    gap: 2vw;
    align-items: center;
    justify-content: center;
  }
  .cardContainer__text {
    bottom: min(20%, 4rem);
    left: 10%;
    right: 40%;
  }
  .theGridContainer {
    right: 80%;
  }
}
@media (max-width: 1024px) {
  .cardsSection__cardGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(275px, 400px));
    padding: 3vw 5vw;
  }
}
@media (min-width: 1025px) and (max-width: 1439px) {
  .cardsSection__cardGridContainer {
    grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
    padding: 3vw 3vw;
  }
}
@media (min-width: 1440px) and (max-width: 1825px) {
  main {
    padding: 10vw;
  }
  .main__introSection {
    width: 100%;
    margin-bottom: 10vw;
  }
  .introSection__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: last baseline;
  }
  .introSection__imgContainer {
    justify-self: flex-start;
    z-index: 1;
  }
  .introSection__textContainer {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: hsl(0, 0%, 100%);
    padding: 6vw 0 0 6vw;
    width: 50%;
  }
  h2 {
    font-size: 3vw;
  }
  .textContainer__description {
    font-size: 1.2vw;
    line-height: 2vw;
    filter: opacity(40%);
  }
  .main__cardsSection {
    grid-template-rows: fit-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right" "bottom bottom";
  }
  .cardsSection__heading, .cardsSection__btnContainer {
    justify-content: flex-end;
  }
  .cardsSection__heading {
    grid-area: left;
  }
  .cardsSection__btnContainer {
    grid-area: right;
    align-items: flex-end;
  }
  .cardsSection__seeAllBtn {
    padding: 0.75vw 2vw;
    letter-spacing: 0.5vw;
  }
  .cardsSection__cardGridContainer {
    grid-area: bottom;
    grid-template-columns: repeat(auto-fill, minmax(100px, 265px));
    align-items: center;
    justify-content: center;
    padding: 3vw 0;
  }
  .cardContainer__text {
    bottom: 8%;
    left: 10%;
    right: 20%;
  }
  .theGridContainer {
    right: 80%;
  }
}
@media (min-width: 1826px) {
  .main__introSection {
    width: 100%;
    padding: 10vw;
  }
  .introSection__wrapper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  .textContainer__description {
    font-size: 1.2vw;
    line-height: 2vw;
    filter: opacity(40%);
  }
  .main__cardsSection {
    grid-template-rows: fit-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right" "bottom bottom";
    padding: 0 10vw;
  }
  .cardsSection__heading, .cardsSection__btnContainer {
    justify-content: flex-end;
  }
  .cardsSection__heading {
    grid-area: left;
  }
  .cardsSection__btnContainer {
    grid-area: right;
    align-items: flex-end;
  }
  .cardsSection__seeAllBtn {
    padding: 0.75vw 2vw;
    font-size: 1vw;
    letter-spacing: 0.5vw;
  }
  .cardsSection__cardGridContainer {
    grid-area: bottom;
    grid-template-columns: repeat(auto-fill, minmax(300px, 465px));
    align-items: center;
    justify-content: center;
    padding: 3vw 0;
  }
  .cardContainer__text {
    bottom: 8%;
    left: 10%;
    right: 20%;
  }
  .theGridContainer {
    right: 80%;
  }
}
.main__cardsSection, .cardsSection__cardGridContainer {
  display: grid;
}

.cardsSection__seeAllBtn {
  border: 1px solid hsl(0, 0%, 0%);
  background-color: transparent;
  color: hsl(0, 0%, 0%);
  transition: all 0.15s ease;
  width: fit-content;
}

.cardImg {
  width: 100%;
  height: auto;
  filter: brightness(75%), opacity(1);
  transition: filter 0.15s ease;
}

.cardsSection__cardGridContainer {
  width: 100%;
  gap: 2vw;
}

.cardsSection__cardContainer {
  position: relative;
}

.cardContainer__text {
  color: hsl(0, 0%, 100%);
  position: absolute;
  z-index: 2;
  font-size: max(1.5rem, 2.25vw);
  transition: color 0.15s ease;
}

@media (max-width: 768px) {
  header {
    background-image: url(../images/mobile/image-hero.jpg);
    display: grid;
    grid-template-rows: 50px 500px;
    padding: 6vw;
  }
  h1 {
    z-index: 2;
  }
  .header__topNav {
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  .topNav__closingContainer {
    z-index: 2;
    display: none;
  }
  .topNav__navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 0%);
    overflow: hidden;
    transition: left 0.35s ease;
  }
  nav:not([data-type=bottomNav]) ul {
    margin-top: 40vw;
  }
  nav a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .header__sloganContainer {
    width: fit-content;
    justify-self: center;
  }
  .sloganContainer__text {
    font-size: min(2.75rem, 10vw);
    padding: max(1.5rem, 3vw);
  }
}
@media (min-width: 769px) {
  .topNav__hamburgerContainer, .topNav__closingContainer {
    display: none;
  }
  header {
    background-image: url(../images/desktop/image-hero.jpg);
  }
  nav ul {
    display: flex;
    align-items: baseline;
  }
  nav li {
    padding: 0 1.25vw;
  }
  nav a {
    font-size: max(1vw, 0.75rem);
  }
  .header__sloganContainer {
    margin: 10vw 0;
    width: 60%;
    justify-self: flex-start;
  }
  .sloganContainer__text {
    font-size: max(2.75rem, 5vw);
    padding: max(1rem, 2vw);
  }
}
header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 3vw 10vw;
}

.header__topNav {
  justify-content: space-between;
}

.header__sloganContainer {
  align-self: center;
}

.sloganContainer__text {
  border: 1px solid hsl(0, 0%, 100%);
}

ul {
  list-style: none;
}

/*# sourceMappingURL=header.css.map */
